*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .button-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    left:200px;
    top: 400px;

  }
  .button1{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    
  }
  .button1 .ph{
    position: relative;
    left: 7px;
  }
  .button2 .ph{
    position: relative;
    left: 4px;
  }
  .button3 .ph{
    position: relative;
    left: 20px;
  }
  .button2{
     display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
  }
  .button3{
     display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
  }
  .button4{
     display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
  }
  .button4 .ph{
    position: relative;
    left: 10px;
  }

  .circulo1{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    
  }
  .circulo2{
     display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
  }
  .circulo3{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
  }
  .circulo4{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
  }
  .circulos{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    left:250px;
    top: 200px;

   
  }
  .Time-notification{
    position: absolute;
    left: 250px;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    
   

  }
  .circulo-verde{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(6, 213, 120);
  }
  .circulo-verde .ph{
    position: relative;
    left: 8px;
    top: 7px;
  }
  .paragrafo-text{
    position: relative;
    top: 6px;
    left: 10px;
    font-weight: 600;
  }
  .Time-notification:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
    position: absolute;
    left: 250px;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid rgb(6, 213, 120);
    box-shadow:100 rgb(6, 213, 120) ;
    padding: 15px;
    border-radius: 10px;
  }
  .nav-bar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500px;
    left: 200px;
  }
  
 ul{ 
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;

 }
 .icons-home .ph{
  position: relative;
  left: 10px;
 }
 .icons-bucket .ph{
  position: relative;
  left: 10px;
 }
 .icons-new .ph{
  position: relative;
  left: 22px;
 }
 .icons-notification .ph{
  position: relative;
  left: 30px;
 }
 .icons-profile .ph{
  position: relative;
  left: 12px;
 }
 .b1{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;

 }
 .b2{

  width: 30px;
  height: 30px;
  background-color:white;
  border: 1px solid black;
  border-radius: 50%;

 }
 .b1 .ph {
  position: relative;
  left: 7px;
  top: 5px;
 }
 .b2 .ph {
  position: relative;
  left: 7px;
  top: 5px;
 }
 .cards-buttons{
  display: flex;
  flex-direction: row;
  
  border: 1px solid black;
  width: 180px;
  border-radius: 10px;
 }
 .cards-buttons h2{
  position: relative;
  color: green;
  left: 20px;
 }
 .b2{
  position: relative;
  left: 110px;
 }
